[Desktop Entry]
Type=Application
Name=RedLib
Terminal=true
Exec=webapps redlib
Comment=Launches RedLib Web App
Icon=utilities-terminal
Categories=ConsoleOnly
